body {
    background-image: url('../images/Green.png');
}
table#game_board{
    margin:auto;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(100,100,100);

}
table#game_board td{
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(50,50,50);
}
#messages p{
    margin:0px;
}
td:hover {
    background:url('../images/hover.gif'), rgb(0,255,0);
    background-size:100% 100%;

}